@media(max-width: 768px) {
    main .card  {
        width: 10rem;
        height: 13rem;
        transition: box-shadow .3s;
    }

    .card .card-img-top{
        width: 100px;
        position: relative;
        left: 30px;
    }

    .card .price {
        font-weight: bold;
        font-size: medium;
        margin-top: 7px;
    }
    
}